body{
    background-color: rgb(50,50,50);
}
a{
    text-decoration: none;
    color: black;
}
.button{
    width: 20vh;
    height: 10vh;
    margin-top: 40vh;
    background-color: #adadad;
    border-radius: 2vh;
}
.label{
    position: relative;
    top: 40%;
}